<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\tsousasilva\Desktop\projects\sorter-fx\target\sorter-fx-1.0.0.jar</jar>
  <outfile>C:\Users\tsousasilva\Desktop\projects\sorter-fx\sorterFx.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\tsousasilva\Desktop\projects\sorter-fx\src\main\resources\app\img\appIcon.ico</icon>
  <jre>
    <path>C:\Java\jdk22;%PATH%;</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>22.0.2</minVersion>
    <maxVersion></maxVersion>
    <opt>--module-path C:/Java/javafx-sdk-22.0.2/lib --add-modules javafx.controls,javafx.fxml </opt>
  </jre>
</launch4jConfig>